body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 5px 5px;
}

.title {
  background: #e3f4ff;
  padding: 5px;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px 5px;
  margin: 8px auto;
}

.button-container {
  margin: auto;
  background: #e3f4ff;
  text-align: center;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 6px 20px;
  margin: auto;
}